[submodule "AppEngine/imgui"]
	path = AppEngine/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Interops/stb"]
	path = Interops/stb
	url = https://github.com/nothings/stb.git
[submodule "Interops/tinyfiledialogs"]
	path = Interops/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
[submodule "DNN/dlib"]
	path = DNN/dlib
	url = https://github.com/davisking/dlib.git
